.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --main-font: font-family: 'Roboto', sans-serif;
  --secondary-font: font-family: 'Raleway', sans-serif;
  --color-blue: #2196f3;
  --color-white:#ffffff;
  --color-whiteb:#f5f4fa;
  --color-black:#000000;
  --color-blackb:#212121;
  --color-grey:#757575;
  --color-greyb:#afb1b8;
  --color-greyc:#2f303a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 100%;
  padding: 0 10px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 250ms linear;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  padding: 40px;
}

.modal__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-top: 10px;
  height: 40px;
}

.modal__input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal__input:focus + .modal-form-icon {
  outline: none;
  fill: #2196f3;
}

.modal__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
  height: 120px;
  padding: 12px 16px;
}

.modal__textarea:focus {
  outline: none;
  border-color: #2196f3;
}

.policy__label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy__label::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-radius: 2px;
  margin-right: 8px;
  margin-bottom: -3px;
}

.modal__checkbox--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.modal__disclaimer--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal__checkbox {
  margin-right: 8px;
}

.modal__checkbox:checked + .policy__label::before {
  background-color: #2196f3;
  border: none;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal__icon {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  fill: #000;
}

.modal__input--wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo:link, .logo:hover, .logo:active, .logo:visited {
  text-decoration: none;
  color: #000000;
}

.logo__accent-text {
  color: #2196f3;
}

.button-index {
  padding: 10px 41px;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--color-white);
}

.button-index:hover {
  cursor: pointer;
}

.title2 {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.social__icon {
  width: 20px;
  height: 20px;
}

.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}

.social-list__link:hover, .social-list__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}

.topline {
  display: flex;
  align-items: center;
  width: 100%;
}

.activepage::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -31px;
  left: 0;
  width: 56px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.header__phonenumber-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.header__phonenumber {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  fill: #757575;
}

.header__phonenumber:focus, .header__phonenumber:hover, .header__phonenumber:active {
  fill: #2196f3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__phonenumber:visited {
  color: #757575;
}

.header__phonenumber-link:link {
  color: #757575;
}

.header__phonenumber-link:focus, .header__phonenumber-link:hover {
  color: #2196f3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__email-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.header__email {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-right: 50px;
  fill: #757575;
}

.header__email:focus, .header__email:hover, .header__email:active {
  fill: #2196f3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__email:visited {
  color: #757575;
}

.header__email-link:link {
  color: #757575;
}

.header__email-link:focus, .header__email-link:hover {
  color: #2196f3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  display: flex;
}

.navigation__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navigation__item {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation__item:nth-child(1) {
  margin-left: 93px;
}

.navigation__item:not(:last-child) {
  margin-right: 46px;
}

.navigation__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.navigation__link:link, .navigation__link:visited {
  color: black;
}

.navigation__link:hover {
  color: #2196f3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions__description {
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/solutions/solutions-bg-mobile@2x.jpg);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .solutions {
    padding-top: 118px;
    padding-bottom: 198px;
    background: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/solutions/solutions-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }
  .button-index {
    margin: auto;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .solutions {
    padding-top: 118px;
    padding-bottom: 198px;
    background: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/solutions/solutions-bg-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }
  .button-index {
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .solutions {
    padding-top: 200px;
    padding-bottom: 280px;
    background: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/solutions/solutions-bg-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }
  .button-index {
    margin: auto;
  }
  .solutions__description {
    font-size: 44px;
    line-height: 1.364;
  }
}

.pros__list {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.pros__box {
  display: flex;
  flex-grow: 1;
  height: 120px;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.pros__icon {
  width: 70px;
  height: 70px;
}

.pros__title {
  padding-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.pros__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.pros__description:not(last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .pros__box {
    width: 354px;
  }
  .pros__description {
    width: 354px;
  }
  .pros__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.whatwedo__list {
  display: flex;
  position: relative;
}

.whatwedo__item {
  position: relative;
  display: flex;
  justify-content: center;
}

.whatwedo__item:not(:last-child) {
  margin-right: 30px;
}

.whatwedo__img {
  margin-bottom: 94px;
}

.whatwedo__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 94px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .whatwedo {
    display: none;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .whatwedo {
    display: none;
  }
}

.team {
  background: #f5f4fa;
  display: flex;
}

.ourteam__list {
  padding-bottom: 60px;
}

.ourteam__member {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.ourteam__member:not(last-child) {
  margin-bottom: 30px;
}

.ourteam__name {
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.185;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.ourteam__position {
  padding-bottom: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.185;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .team {
    justify-content: center;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .ourteam__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
  }
}

.ourclients__icon {
  width: 106px;
  height: 60px;
}

.ourclients__list {
  display: flex;
}

.ourclients__link {
  display: flex;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}

.ourclients__link:focus, .ourclients__link:hover {
  fill: #2196f3;
  border-color: #2196f3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .ourclients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 60px;
  }
  .ourclients__link {
    width: 210px;
    height: 92px;
    margin-bottom: 30px;
  }
  .ourclients__link:nth-child(5):nth-child(6) {
    margin-bottom: none;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .ourclients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 60px;
  }
  .ourclients__link {
    width: 226px;
    height: 92px;
  }
  .ourclients__link:nth-child(1) {
    margin-bottom: 30px;
  }
}

.footer {
  background: #2f303a;
}

.footer-logo {
  padding-top: 60px;
  display: inline-block;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-logo:link, .footer-logo:hover, .footer-logo:active, .footer-logo:visited {
  text-decoration: none;
  color: #ffffff;
}

.address {
  margin-bottom: 60px;
}

.address__item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__par {
  padding-top: 20px;
  padding-bottom: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address__email {
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.6);
}

.address__phonenumber {
  color: rgba(255, 255, 255, 0.6);
}

.address__phonenumber:link, .address__phonenumber:hover, .address__phonenumber:active, .address__phonenumber:visited {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 84px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .address {
    position: absolute;
    text-align: center;
    display: flex;
    padding-bottom: 84px;
    padding-left: 76px;
  }
  .footer-logo {
    position: relative;
    left: 120px;
  }
  .footer {
    padding-bottom: 100px;
  }
}

.joinus {
  width: 206px;
  height: 80px;
}

.joinus__title {
  padding-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.joinus__list {
  display: flex;
  justify-content: space-between;
}

.joinus__icon {
  width: 20px;
  height: 20px;
}

.joinus__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
}

.joinus__link:hover, .joinus__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .joinus {
    margin: auto;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .joinus {
    position: relative;
    text-align: center;
    margin: auto;
    left: 211px;
    top: -28px;
  }
}

.subscribe {
  width: 450px;
  height: 86px;
}

.subscribe__title {
  padding-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe__input {
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  padding-left: 16px;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
}

.button-subscribe {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 74px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #ffffff;
}

.button-subscribe::after {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 24px;
  background-image: url(../images/send.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .subscribe {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .subscribe__form {
    align-items: center;
  }
  .subscribe__input {
    margin-bottom: 20px;
  }
  .button-subscribe {
    width: 200px;
    height: 50px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .subscribe {
    position: relative;
    left: 158px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .subscribe__form {
    align-items: center;
  }
  .subscribe__input {
    margin-bottom: 20px;
  }
  .button-subscribe {
    width: 200px;
    height: 50px;
  }
}

.filters__list {
  display: flex;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.button-filter {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: #f5f4fa;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-filter:focus, .button-filter:hover {
  color: #ffffff;
  background-color: #2196f3;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .filters__list {
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .filters__item {
    background: #f5f4fa;
    border-radius: 4px;
  }
  .filters__item:nth-child(1) {
    padding: 6px 13px;
    margin-bottom: 15px;
  }
  .filters__item:nth-child(2) {
    padding: 6px 39px;
    margin-bottom: 15px;
  }
  .filters__item:nth-child(3) {
    padding: 6px 37px;
    margin-bottom: 15px;
  }
  .filters__item:nth-child(4) {
    padding: 6px 28px;
  }
  .filters__item:nth-child(5) {
    padding: 6px 26px;
  }
  .filters__item:focus, .filters__item:hover {
    color: #ffffff;
    background-color: #2196f3;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .filters__list {
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
  .filters__item {
    background: #f5f4fa;
    border-radius: 4px;
  }
  .filters__item:nth-child(1) {
    padding: 6px 13px;
  }
  .filters__item:nth-child(2) {
    padding: 6px 39px;
  }
  .filters__item:nth-child(3) {
    padding: 6px 37px;
  }
  .filters__item:nth-child(4) {
    padding: 6px 28px;
  }
  .filters__item:nth-child(5) {
    padding: 6px 26px;
  }
  .filters__item:focus, .filters__item:hover {
    color: #ffffff;
    background-color: #2196f3;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.portfolio__item {
  display: flex;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.portfolio__project {
  position: relative;
  overflow: hidden;
}

.portfolio__project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms ease-in-out;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__project:hover .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__title {
  position: relative;
  background: #ffffff;
}

.portfolio__name {
  padding: 20px 24px 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__category {
  padding: 0 24px 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio__overlay {
  display: flex;
  align-items: center;
  padding-left: 24px;
  position: absolute;
  width: 370px;
  height: 294px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  transform: translateY(100%);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio__item {
    margin-bottom: 30px;
  }
  .portfolio__item:last-child {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .portfolio__item {
    margin-bottom: 30px;
  }
  .portfolio__item:last-child {
    margin-bottom: 60px;
  }
  .portfolio__name {
    font-size: 17px;
  }
}
/*# sourceMappingURL=main.css.map */