.team {
  background: #f5f4fa;
  display: flex;
}

.ourteam__list {
  padding-bottom: 60px;
}

.ourteam__member {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(last-child) {
    margin-bottom: 30px;
  }
}

.ourteam__name {
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.185;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.ourteam__position {
  padding-bottom: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.185;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .team {
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .ourteam__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
}

// .team {
//   background: #f5f4fa;
// }

// .ourteam__list {
//   display: flex;
//   padding-bottom: 94px;
// }

// .ourteam__item {
//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }

// .ourteam__member {
//   background: #ffffff;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
// }

// .ourteam__name {
//   padding-top: 30px;
//   padding-bottom: 10px;
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 19px;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: #212121;
// }

// .ourteam__position {
//   padding-bottom: 16px;
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 16px;
//   line-height: 19px;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: #757575;
// }
