:root{
 --main-font: font-family: 'Roboto', sans-serif;
 --secondary-font: font-family: 'Raleway', sans-serif;
 --color-blue: #2196f3;
 --color-white:#ffffff;
 --color-whiteb:#f5f4fa;
 --color-black:#000000;
 --color-blackb:#212121;
 --color-grey:#757575;
 --color-greyb:#afb1b8;
 --color-greyc:#2f303a;
}